.container2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 4%;
}

.slideshow {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.slideshow ul {
  width: 300%;
  height: 350px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slideshow li {
  display: inline-block;
}

#popup {
  border: 1px solid black;
  width: 500px;
  max-height: 100%;
  position: absolute;
  text-align: left;
  line-height: 2.5;
}

.div-form {
  width: 100%;
  border: 1px solid black;
  left: 10px;
  color: black;
}

#submit-form {
  width: 300px;
  height: 50px;
}

/*.bullet {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
}*/

.row_event {
  display: flex;
  flex-direction: row;
}

.section_event {
  background-color: white;
  border: 1px solid #01969b;
}

.section1_event:visited {
  color: #01969b;
  font-size: 15px;
}

.section1_event:hover {
  color: #c35884;
}

.ajout {
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}

.afficher {
  width: 600px;
  height: 400px;
  overflow: auto;
  margin: auto;
  margin-top: 120px;
  background-color: white;
  overflow: auto;
}

.table_event {
  border-collapse: collapse;
}

.affiche1_event {
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #c35884;
}

.th_event {
  color: #c35884;
}

.afficher1_event {
  height: auto;
  margin: auto;
  overflow: auto;
}

.divVide {
  width: 100%;
  height: 50px;
  background-color: #c35884;
  padding: 60px;
  color: white;
}

.aicon-flex {
  position: absolute;
  top: 42%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  border: 7px solid#c35884;
}
.aicon {
  text-align: center;
  margin: 0;
  padding: 0;
}
.icon {
  width: 60px;
  height: 60px;
  margin: auto;
}

.titreicon {
  position: absolute;
  margin-left: 22px;
  margin-top: 140px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
#titreGarderie {
  text-align: center;
  margin-left: 7px;
}
#titreMenu {
  text-align: center;
}
#titreActivites {
  text-align: center;
  margin-left: 7px;
}

/*@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
} */

@media (max-width: 375px) {
  .aicon {
    width: 150px;
    height: 150px;
  }
  .rond {
    display: block;
    margin: auto;
    padding-top: 15px;
    position: relative;
  }
  .icon {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .titreicon {
    margin-left: 22px;
    margin-top: 100px;
  }
}

#agenda_event td.date_event {
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#agenda_event td {
  color: white;
  padding: 10px;
  font-size: 20px;
  border-top: none;
  border-bottom: 1px dotted white;
  vertical-align: middle;
}

#agenda_event td:first-child {
  width: 50px;
  border-right: 1px dotted white;
}

#agenda_event tr:nth-child(even) {
  background-color: rgba(1, 150, 155, 0.7);
}
#agenda_event tr:nth-child(odd) {
  background-color: rgba(1, 150, 155, 0.2);
}

#agenda_event td:nth-child(0n + 2) {
  border-right: 1px dotted white;
}

.img_agenda {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.agenda_send {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.img_arrow {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  padding: 0%;
  margin: 0;
}

.citation {
  font-size: 20px;
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  bottom: 29%;
}
.alphonse {
  padding-left: 440px;
  font-size: 15px;
  position: absolute;
  bottom: 27%;
}

.apostrophe {
  font-size: 26px;
  font-weight: bold;
}

.inputDT {
  margin-left: 112px;
}

.inputDT1 {
  margin-left: 114px;
}
