.backAdmin {
  background-image: url("../images/bluebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "quicksand";
}

.containerAdmin {
  width: 85%;
  min-height: 350px;
  margin: auto;
  margin-top: 50px;
  display: block;
  background-color: white;
  box-shadow: 10px 5px 5px lightgrey;
}

#adminBtnAfficher {
  position: relative;
  background-image: url("../images/info1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#adminBtnAjouter {
  position: relative;
  background-size: cover;
  background-image: url("../images/info2.png");
  background-repeat: no-repeat;
}

.admin-tile {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: height 0.3s ease;
  cursor: pointer;
}

.admin-tile:hover {
  height: 100%;
}

.page-admin-texte {
  text-align: center;
  padding: 10px;
}
.container4 {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 110px;
  padding-left: 20px;
}

.section {
  background-color: white;
  border: 1px solid #01969b;
  width: 400px;
  height: 250px;
}
.adminPartFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  min-height: 300px;
}

.adminBtnAfficher,
.adminBtnAjouter {
  width: 30%;
}

.section1 {
  color: black;
  text-decoration: none;
  font-family: "quicksand";
}

.section1:visited {
  color: #01969b;
  font-size: 15px;
}

.section1:hover {
  color: #c35884;
}

.container5 {
  display: flex;
  width: 400px;
  margin: auto;
  margin-top: 120px;
  background-color: white;
  padding: 15px;
}

.ajout {
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}

.afficher {
  width: 600px;
  height: 400px;
  overflow: auto;
  margin: auto;
  margin-top: 120px;
  background-color: white;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .section {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .section {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .adminPartFlex {
    flex-direction: column;
  }
  .adminBtnAfficher,
  .adminBtnAjouter {
    width: 80%;
    margin: auto;
    display: block;
  }
  .section {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .titre-admin {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .adminPartFlex {
    flex-direction: column;
  }
  .adminBtnAfficher,
  .adminBtnAjouter {
    width: 80%;
    margin: auto;
  }
  .section {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .titre-admin {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 150px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid lightgrey;
  border-top: none;
}

td {
  color: #01969b;
}

.nom {
  text-align: center;
}

.affiche1 {
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #c35884;
}
.icon1 {
  cursor: pointer;
}

.icon1 {
  color: #01969b;
}

.icon1:hover {
  color: #c35884;
}

th {
  color: #c35884;
}

.afficher1 {
  width: 600px;
  height: 400px;
  overflow: auto;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  overflow: auto;
}

.form-new-student {
  margin-top: 50px;
}
