.containerAdmin {
  width: 85%;
  height: auto;
  min-height: 350px;
  margin: auto;
  display: block;
  background-color: white;
  box-shadow: 10px 5px 5px lightgrey;
}

#adminBtnAfficher {
  background-image: url("../images/info1.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
#adminBtnAjouter {
  position: relative;
  background-size: cover;
  background-image: url("../images/info2.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.admin-tile {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: height 0.3s ease;
  cursor: pointer;
}

.admin-tile:hover {
  height: 100%;
}

.page-admin-texte {
  padding: 10px;
  padding-left: 50px;
  padding-top: 20px;
  margin-top: 20px;
  line-height: 32px;
}
.container4 {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-top: 110px;
  padding-left: 20px;
}

.section {
  background-color: white;
  border: 1px solid #01969b;
  width: 400px;
  height: 250px;
}
.adminPartFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3%;
  min-height: 300px;
  padding-bottom: 3%;
}

.section1 {
  color: black;
  text-decoration: none;
  font-family: "quicksand";
}

.section1:visited {
  color: #01969b;
  font-size: 15px;
}

.section1:hover {
  color: #c35884;
}

.ajout {
  font-size: 16px;
  text-align: left;
  line-height: 40px;
}
.btnsend {
  background-color: white;
  color: black;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btnsend a {
  text-decoration: none;
  color: black;
}
.afficher {
  width: 600px;
  height: 400px;
  overflow: auto;
  margin: auto;
  margin-top: 120px;
  background-color: white;
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .section {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  .section {
    width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .adminPartFlex {
    flex-direction: column;
  }
  .adminBtnAfficher,
  .adminBtnAjouter {
    width: 80%;
    margin: auto;
    display: block;
  }
  .section {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .titre-admin {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .adminPartFlex {
    flex-direction: column;
  }
  .adminBtnAfficher,
  .adminBtnAjouter {
    width: 80%;
    margin: auto;
  }
  .section {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .titre-admin {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
}

#agenda_event td.date_event {
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#tablePersonne {
  margin-left: 7%;
}

#tablePersonne td {
  color: white;
  padding: 10px;
  font-size: 16px;
  border-top: none;
  border-bottom: 1px dotted white;
  vertical-align: middle;
}

#tablePersonne td:first-child {
  width: 50px;
  border-right: 1px dotted white;
}

#tablePersonne tr:nth-child(even) {
  background-color: rgba(1, 150, 155, 0.7);
}
#tablePersonne tr:nth-child(odd) {
  background-color: rgba(1, 150, 155, 0.2);
}

#tablePersonne td:nth-child(0n + 2) {
  border-right: 1px dotted white;
}

.nom {
  text-align: center;
  widows: 100%;
}

.icon1 {
  cursor: pointer;
}

.icon1 {
  color: white;
}

.icon1:hover {
  color: #c35884;
}

.formeRadStudent {
  width: 100%;
  /* padding-top: 3%;*/
}

.demDupp {
  margin-left: 2%;
  margin-top: 5%;
}
.afficher1 {
  width: 80%;
  display: inline-block;
  font-size: 16px;
  height: auto;
  margin: auto;
  margin-top: 5%;
}

.adminP {
  margin-top: 3%;
}

#addStudent {
  position: absolute;
}

.form-new-student {
  width: 100%;
  margin-top: 6%;
  margin-left: 5%;
}

.formCreateDiv {
  height: auto;
  padding-bottom: 3%;
}

.inputStudent1 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 120px;
  padding-left: 22px;
  width: 40%;
}

.inputStudent2 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 99px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent3 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 127px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent4 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 96px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent5 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 66px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent6 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 125px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent7 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 20px;
  padding-left: 22px;
  width: 40%;
}
.inputStudent8 {
  margin-top: 10px;
  padding: 10px;
  margin-left: 106px;
  width: 40%;
}

.createPS {
  margin-left: 58%;
  border-radius: 13px;
  background-color: white;
  cursor: pointer;
}

.studentCreateForm {
  width: 100%;
  height: auto;
  margin-top: 66px;
}
