.agendaprinc {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  padding: 30px;
}

.left {
  width: 50%;
  margin: 0;
  padding: 0;
}

.right {
  margin: auto;
}
/* calendar */
.agenda {
  width: 350px;
  height: auto;
  margin: auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.jour {
  border: 1px solid rgba(0, 0, 0, 0.192);
  text-align: right;
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: background-color 0.1s;
  cursor: pointer;
}

.jour:hover {
  background-color: rgba(128, 128, 128, 0.384);
}

.semaine {
  display: flex;
  text-align: center;
}

.jr {
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 8px;
  width: 50px;
  height: 30px;
  font-size: small;
}

.rien {
  border: 1px solid rgba(0, 0, 0, 0.192);
  width: 50px;
  height: 50px;
}

.fleches {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.precedent {
  margin-right: 15px;
}
.precedent:hover {
  cursor: pointer;
}

.suivant:hover {
  cursor: pointer;
}

.suivant > .lien:visited {
  color: black;
}

.suivant > .lien:hover {
  color: orangered;
}

.month {
  font-size: 16px;
}

.popup {
  background-color: white;
  width: 20%;
  height: auto;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.jour:hover {
  cursor: pointer;
}

.event {
  background-color: rgba(144, 238, 144, 0.658);
}

.ajd {
  text-align: right;
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #c35884;
  color: white;
  border-color: #c35884;
  cursor: pointer;
}

@media (max-width: 992px) {
  .agendaprinc {
    margin-top: 15%;
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .agendaprinc {
    margin-top: 15%;
  }
}

@media (max-width: 576px) {
  .agendaprinc {
    margin-top: 20%;
  }
  .agenda {
    width: 300px;
  }
  .jour,
  .jr,
  .rien {
    width: 43px;
  }
}

@media (max-width: 375px) {
  .agendaprinc {
    margin-top: 75%;
  }
}

.form-agenda {
  width: 100%;
  margin-left: 2%;
  padding: 40px;
}

#date_event,
#titre_event {
  margin-left: 57px;
  margin-top: 10px;
  padding: 10px;
}

#contenu_event {
  margin-left: 8px;
  margin-top: 10px;
  padding: 10px;
}

#submit_event {
  width: 286px;
  margin-top: 10px;
  padding: 10px;
}
