.agendaprinc {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 5%;
  padding-right: 10%;
}

.firstDiv {
  width: 33.33%;
}

.secondDiv {
  margin: 0;
  padding: 2%;
}

.thirdDiv {
  margin: auto;
  padding: 2%;
}
/* calendar */
.agenda {
  width: 350px;
  height: auto;
  margin: auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.jour {
  border: 1px solid rgba(0, 0, 0, 0.192);
  text-align: right;
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: background-color 0.1s;
  cursor: pointer;
}

.jour:hover {
  background-color: rgba(128, 128, 128, 0.384);
}

.semaine {
  display: flex;
  text-align: center;
}

.jr {
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 8px;
  width: 50px;
  height: 30px;
  font-size: small;
}

.rien {
  border: 1px solid rgba(0, 0, 0, 0.192);
  width: 50px;
  height: 50px;
}

.fleches {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #01969b;
}

.precedent {
  cursor: pointer;
}

.suivant {
  cursor: pointer;
}
/*.precedent:hover {

}*/

.suivant:hover {
  cursor: pointer;
}

.suivant > .lien:visited {
  color: black;
}

.suivant > .lien:hover {
  color: orangered;
}

.month {
  font-size: 20px;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.popup {
  background-color: white;
  width: 20%;
  height: auto;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.jour:hover {
  cursor: pointer;
}

.event {
  background-color: rgba(144, 238, 144, 0.658);
}

.ajd {
  text-align: right;
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #c35884;
  color: white;
  border-color: #c35884;
  cursor: pointer;
}

.createEventForm {
  width: 100%;
  margin-left: 8%;
}

.form-create {
  width: 100%;
  margin-bottom: 50px;
}

.form-update {
  margin-left: 7%;
  margin-bottom: 50px;
  margin-top: 88px;
}

#date_event,
#titre_event {
  margin-top: 10px;
  padding: 10px;
}

#contenu_event {
  margin-left: 47px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
}

#submit_event {
  margin-top: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #01969b;
  cursor: pointer;
}

#update_event {
  margin-top: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #01969b;
  cursor: pointer;
}

.lien {
  width: 33px;
  height: 33px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 992px) {
  .agendaprinc {
    margin-top: 15%;
    margin-bottom: 10%;
  }
}

@media (max-width: 768px) {
  .agendaprinc {
    margin-top: 15%;
  }
}

@media (max-width: 576px) {
  .agendaprinc {
    margin-top: 20%;
    display: inline;
  }
  .citAlph {
    display: none;
  }

  .secondDiv {
    margin-top: 9%;
    padding-bottom: 5%;
  }

  .aicon-flex {
    display: none;
  }
  .agenda {
    width: 300px;
    margin: 10%;
  }
  .jour,
  .jr,
  .rien {
    width: 43px;
  }

  #agenda_event {
    width: 50%;
    margin: auto;
  }

  #agenda_event td {
    font-size: 14px;
  }

  #agenda_event td.date_event {
    font-size: 16px;
  }
  .fleche-retour-info {
    display: none;
  }
}

@media (max-width: 375px) {
  .agendaprinc {
    margin-top: 75%;
  }
}
