/* ----header---- */
.header-img-apropos {
  width: 100%;
  height: 350px;
  background: url("../images/classroom.jpg");
  background-size: cover;
}

/* -----test image as background------ */
.button-testing-1 {
  /* width: 200px; */
  color: white;
  text-align: center;
  padding: 8px;
}
.button-testing-image-histoire {
  width: 200px;
  height: 200px;
  background: url("../images/school.jpg");
  background-size: cover;
}
.button-testing-image-mot {
  width: 200px;
  height: 200px;
  background: url("../images/classroom2.jpg");
  background-size: cover;
}
.buttons-testing-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-testing-1 > .button-testing-1 > p > a {
  color: white;
  text-decoration: none;
}
.button-histoire {
  background-color: #c35884;
  cursor: pointer;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-histoire {
  opacity: 0.8;
}

.button-mot {
  background-color: #01969b;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-mot {
  opacity: 0.8;
}
