/* ----header---- */
.header-img-apropos {
  width: 100%;
  height: 350px;
  background: url("../images/classroom.jpg");
  background-size: cover;
}

/* -----test image as background------ */
.button-testing-1 {
  /* width: 200px; */
  color: white;
  text-align: center;
  padding: 8px;
}
.button-testing-image-histoire {
  width: 200px;
  height: 200px;
  background: url("../images/ecole-st-jean.jpg");
  background-size: cover;
}
.button-testing-image-mot {
  width: 200px;
  height: 200px;
  background: url("../images/classroom2.jpg");
  background-size: cover;
}
.buttons-testing-1 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-testing-1 > .button-testing-1 > p > a {
  color: white;
  text-decoration: none;
}
.button-histoire {
  background-color: #c35884;
  cursor: pointer;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-histoire {
  opacity: 0.8;
}

.button-mot {
  background-color: #01969b;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-mot {
  opacity: 0.8;
}

.liens {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .header-img-apropos {
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .aPropos-titre {
    font-size: 24px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 576px) {
  .buttons-testing-1 {
    flex-direction: column;
  }
  .button-testing-1 {
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .button-testing-1 {
    width: 58%;
    margin: auto;
    margin-bottom: 25px;
  }
}

/* ----- ol and ul display ------ */
.onglet-apropos > ol > li {
  margin-bottom: 2%;
  margin-top: 2%;
}

.onglet-apropos > ol > ul > li {
  margin-left: 5%;
  list-style-position: inside;
}

.onglet-apropos > p,
.onglet-apropos > ul {
  margin-bottom: 2%;
}

.onglet-apropos > ul > li {
  margin-left: 5%;
  list-style-position: inside;
}
