@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: "HVD Comic Serif Pro";
  src: url("public/css/fonts/HVD_Comic_Serif_Pro.otf") format("woff");
}

.page-connexion {
  display: flex;
}

.container {
  width: 100%;
  min-height: 600px;
  padding-top: 9%;
  padding-bottom: 12%;
}

.container .connexion {
  width: 70%;
  background-color: white;
  margin: auto;
}
.container .connexion .titre {
  width: 100%;
  height: 100px;
  background-color: #01969b;
}
.container .connexion .titre h2 {
  text-align: center;
  line-height: 100px;
  color: white;
  font-family: "quicksand";
  font-size: 30px;
  font-weight: bold;
}
.container .connexion .formConnex {
  margin: 30px;
  min-height: 200px;
}
.container .connexion .formConnex label {
  display: inline-block;
  width: 30%;
  height: 25px;
  font-family: "Quicksand", sans-serif;
}

#connexFormul {
  width: 70%;
  margin: auto;
}

#mdpOublie {
  margin-left: 100px;
  margin-bottom: 20px;
}

#connexFormul > div {
  justify-content: center;
  align-items: center;
}
.container .connexion .formConnex input {
  width: 30%;
  height: 25px;
  margin: 10px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.container .connexion .formConnex a:link {
  text-decoration: none;
  color: blue;
  list-style-type: none;
  font-family: "quicksand";
  font-size: 12px;
}
.container .connexion .formConnex #btnSubmit {
  /*margin-left: 180px;*/
  margin: auto;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-family: "quicksand";
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 1200px) {
  .container .connexion {
    width: 70%;
  }
  .container .connexion .formConnex input {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .container .connexion {
    width: 70%;
  }
  .container .connexion .formConnex input {
    width: 50%;
  }
  .container .connexion .formConnex #btnSubmit {
    width: 200px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .container .connexion {
    width: 70%;
  }
  .container .connexion .formConnex #btnSubmit {
    width: 200px;
    height: 30px;
    font-size: 18px;
  }
  .container .connexion .formConnex input {
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  .container .connexion {
    width: 80%;
  }
  .container .connexion .formConnex input {
    width: 100%;
    display: block;
    margin: auto;
  }
  .container .connexion .formConnex #btnSubmit {
    width: 170px;
    height: 20px;
    font-size: 16px;
  }
  .container .connexion .formConnex label {
    width: 100%;
    height: 25px;
    text-align: center;
  }

  .container .connexion .titre h2 {
    font-size: 20px;
  }
  .page-connexion {
    display: unset;
  }
  #mdpOublie {
    width: 100%;
    margin: auto;
  }
}

/*
.form {
  width: 40%;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  display: inline-block;
}

h2 {
  padding-bottom: 20px;
}

.connexion {
  display: flex;
  justify-content: center;
  padding: 20px;
}

*/
