@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@font-face {
  font-family: "HVD Comic Serif Pro";
  src: url("public/css/fonts/HVD_Comic_Serif_Pro.otf") format("woff");
}
body,
html {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.container {
  width: 100%;
  height: 600px;
  background-color: #d5d5d5;
}
.container .empty {
  width: 500px;
  height: 100px;
  margin: auto;
}
.container .connexion {
  width: 500px;
  background-color: white;
  margin: auto;
}
.container .connexion .titre {
  width: 500px;
  height: 100px;
  background-color: #01969b;
}
.container .connexion .titre h2 {
  text-align: center;
  line-height: 100px;
  color: white;
  font-family: "quicksand";
  font-size: 30px;
  font-weight: bold;
}
.container .connexion .formConnex {
  margin: 30px;
}
.container .connexion .formConnex label {
  display: inline-block;
  width: 150px;
  height: 20px;
  font-family: "Quicksand", sans-serif;
}
.container .connexion .formConnex input {
  width: 250px;
  height: 20px;
  margin: 10px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.container .connexion .formConnex a:link {
  text-decoration: none;
  color: blue;
  list-style-type: none;
  font-family: "quicksand";
  font-size: 12px;
}
.container .connexion .formConnex #btnSubmit {
  margin-top: 40px;
  margin-left: 180px;
  margin-bottom: 50px;
  height: 25px;
  font-family: "HVD Comic Serif Pro";
}

/*
.form {
  width: 40%;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  display: inline-block;
}

h2 {
  padding-bottom: 20px;
}

.connexion {
  display: flex;
  justify-content: center;
  padding: 20px;
}

*/
