@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";
@font-face {
  font-family: "HVD Comic Serif Pro";
  src: url("assets/HVD_Comic_Serif_Pro.otf") format("woff");
}
body,
html {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.containerContact {
  width: 100%;
  background-image: url("static/bluebackground2.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(41, 174, 155, 0.5);
  background-attachment: fixed;
  min-height: 1000px;
}
.containerContact .empty {
  width: 70%;
  height: 100px;
}
.containerContact .formulaireContact {
  width: 70%;
  margin: auto;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 125, 0.2);
  border-radius: 5px;
}
.containerContact .formulaireContact h2,
.containerContact .formulaireContact h3,
.containerContact .formulaireContact p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: black;
  margin: 10px;
}

.containerContact .formulaireContact h2 {
  font-size: 24px;
}
.containerContact .formulaireContact h3 {
  font-size: 18px;
}

.containerContact .formulaireContact p {
  font-size: 16px;
}

.containerContact .formulaireContact .contactChoix {
  width: 45%;
  border: 1px solid lightgrey;
}

.contactCenter {
  justify-content: center;
}

.containerContact .formulaireContact .btnContactForm {
  display: block;
  margin: auto;
  height: 25px;
  width: 200px;
  background-color: #0187a4;
  font-weight: bold;
  color: white;
  border: none;
  font-family: "Quicksand", sans-serif;
}
.containerContact .formulaireContact button:hover {
  cursor: pointer;
}
.containerContact .formulaireContact .popupContact {
  display: none;
  margin: 20px;
}
.containerContact .formulaireContact form {
  margin: auto;
  width: 70%;
}
.containerContact .formulaireContact label {
  display: inline-block;
  width: 20%;
  height: 30px;
  font-family: "Quicksand", sans-serif;
}
.containerContact .formulaireContact input {
  width: 70%;
  height: 30px;
  margin: 10px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.containerContact .formulaireContact #message-box {
  width: 70%;
  height: 200px;
  margin: 10px;
  margin-left: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.containerContact .formulaireContact .btnDelete {
  height: 30px;
  width: 45%;
  background-color: lightgrey;
  font-weight: bold;
  color: white;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  display: block;
}
.containerContact .formulaireContact .btnSubmit {
  height: 30px;
  width: 45%;
  background-color: #9d64a8;
  font-weight: bold;
  color: white;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  display: block;
}

.btnFormContact {
  margin-top: 10px;
}

.overlayContactForm {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.popupContactForm {
  margin: 10% auto;
  width: 70%;
  background-color: #f3f3f3;
  padding: 1em;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.btnCloseContactForm {
  float: right;
  font-size: 16pt;
  cursor: pointer;
  color: #1a1a1a;
}

.popupTextContactForm {
  text-align: center;
}

.sectionContactForm {
  margin-top: 25px;
}

iframe {
  display: block;
  margin: auto;
  width: 70%;
}
