/* -----header------*/
.header-img-covid {
  width: 100%;
  height: 400px;
  background: url("../images/corona-img-01.jpg");
  background-size: cover;
}
.div-rose {
  background-color: #c35884;
  color: white;
  padding: 10px;
}

/* -----main text----- */
.texte-info {
  background-color: whitesmoke;
  width: 1100px;
  padding: 40px;
  margin: auto;
  /* justify-content: center; */
}

.code-covid {
  background-color: orangered;
  padding: 2px;
  color: white;
  border-radius: 10px;
  justify-content: left;
}

.code-covid > p,
h2 {
  color: white;
}

.covid-cards > .card-covid {
  display: flex;
}

div.card-covid.texte {
  vertical-align: middle;
  align-content: center;
}

.icon-covid {
  width: 150px;
}
