.accueil {
  width: 100%;
  margin: auto;
}

footer {
  width: 100%;
  height: auto;
  background-color: #c35884;
}
/*.div-footer {
  margin: auto;
  bottom: 0;
} */

.titreFooter {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bienvenue {
  font-size: 30px;
}

.sous-titre_p {
  font-size: 18px;
  font-family: "quicksand";
}

.footerFlex {
  font-family: "quicksand";
  color: white;
  display: flex;
  justify-content: space-around;
}

.contactFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.arrow-up {
  position: relative;
  width: 100%;
}
.circle-arrow {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
}

.iconeFooter {
  text-decoration: none;
  color: white;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aicon:hover {
  color: #01969b;
}
@media (max-width: 992px) {
  .footerFlex {
    display: block;
  }
  .div-footer {
    text-align: center;
    border-bottom: 1px solid lightgray;
  }
  .div-footer-mot {
    text-align: center;
    border-bottom: 1px solid lightgray;
  }
  #titreFooter {
    text-align: center;
  }
}
/*
@media (max-width: 768px) {
}

@media (max-width: 576px) {
} */
