@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.mainTotalGallery {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "quicksand";
  min-height: 500px;
  margin-top: 0px;
}
.mainGallery {
  width: 85%;
  min-height: 500px;
  margin: auto;
  display: block;
  background-color: white;
  box-shadow: 10px 5px 5px lightgrey;
}

.titlePageGallery {
  height: 100px;
  padding: 20px;
}

#activite1Gallery,
#activite2Gallery,
#activite3Gallery {
  display: block;
  background-color: #0186a4;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
}
.div-gallery-vide {
  height: 50px;
}
.titreGallery {
  margin: 0;
  padding: 0;
}

#activite3Gallery > a {
  text-decoration: none;
  color: white;
}
#activite2Gallery > a {
  text-decoration: none;
  color: white;
}
#activite1Gallery > a {
  text-decoration: none;
  color: white;
}

.galleryImg {
  margin: 20px;
  width: 95%;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery1,
#gallery2,
#gallery3 {
  display: none;
}

.page-galerie {
  text-align: center;
  margin: 15px;
}

.containerGallery {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid lightgrey;
}

.example-image {
  width: 100%;
}
.example-image-link {
  width: 20%;
  height: auto;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .containerGallery {
    width: 900px;
  }
  #activite1Gallery,
  #activite2Gallery,
  #activite3Gallery {
    width: 100%;
  }
  .example-image {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .containerGallery {
    width: 720px;
  }

  .mainGallery {
    min-height: 350px;
  }

  .div-gallery-vide {
    height: 25px;
  }
  .example-image {
    width: 80%;
  }
  .example-image-link {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .containerGallery {
    width: 90%;
  }

  h3 {
    font-size: 24px;
  }

  .example-image-link {
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  .containerGallery {
    width: 85%;
  }

  h3 {
    font-size: 20px;
  }

  .example-image-link {
    width: 40%;
  }
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url("../images/loading.gif") no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url("../images/prev.png") left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url("../images/next.png") right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("../images/close.png") top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
