.histoire-test {
  color: blue;
}

.header-img-histoire {
  width: 100%;
  height: 350px;
  background: url("../images/school.jpg");
  background-size: cover;
}

.histoire p {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .header-img-histoire {
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .histoire-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}
