/*.contact {
  width: 100%;
  opacity: 50%;
  position: fixed;
  left: 0;
  z-index: -1;
}*/

/* -----header----- */
.header-img-info {
  width: 100%;
  height: 350px;
  background: url("../images/books-crop-2.jpg");
  background-size: cover;
}

.div-rose {
  background-color: #c35884;
  color: white;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-rose > a {
  color: white;
  text-decoration: none;
}

.fleche-retour-info {
  text-align: right;
}
.fleche-retour-info > a {
  color: white;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

.fleche-retour-info > a:hover {
  opacity: 0.4;
}

.texte-page-info {
  background-color: whitesmoke;
  width: 1100px;
  padding: 40px;
  margin: auto;
  /* justify-content: center; */
}

/* .info-onglet {
  display: none;
} */

.flex-container-dates {
  display: flex;
}
.flex-container-dates > div {
  justify-content: center;
  margin: auto;
  line-height: 250%;
}
.flex-container-dates > div > ul {
  list-style-type: none;
}
.evenements-2020 {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  width: 450px;
  height: 750px;
}

.dates-2020 {
  width: 300px;
  height: 750px;
}
div.texte-info > div#calendrier-2020 > h3 {
  text-align: center;
}

/* -----buttons----- */
.cards-info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-info {
  height: 225px;
  width: 200px;
  color: white;
  text-align: center;
}
.cards-info > .card-info > h3 > a {
  color: white;
  text-decoration: none;
}
.ephemerides {
  background-color: #c35884;
  cursor: pointer;
  border-radius: 10px;
}
div.cards-info a:hover div.ephemerides {
  opacity: 0.8;
}

.activites {
  background-color: #01969b;
  border-radius: 10px;
}
div.cards-info a:hover div.activites {
  opacity: 0.8;
}

.roi {
  background-color: #9d64a7;
  border-radius: 10px;
}

div.cards-info a:hover div.roi {
  opacity: 0.8;
}
.calendrier-info-titre {
  text-align: center;
}

/* -----test image as background------ */
.button-testing-1 {
  /* width: 200px; */
  color: white;
  text-align: center;
  padding: 8px;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.button-testing-image-ephemerides {
  width: 100%;
  height: 200px;
  background: url("../images/calendar.jpg");
  background-size: cover;
}
.button-testing-image-activites {
  width: 100%;
  height: 200px;
  background: url("../images/activity3.jpg");
  background-size: cover;
}

.button-testing-image-roi {
  width: 100%;
  height: 200px;
  background: url("../images/supplies.jpg");
  background-size: cover;
}
.button-ephemerides {
  background-color: #c35884;
  cursor: pointer;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-ephemerides {
  opacity: 0.8;
  transform: scale(1.025);
}

.button-activites {
  background-color: #01969b;
  border-radius: 10px;
}
div.buttons-testing-1 a:hover div.button-activites {
  opacity: 0.8;
  transform: scale(1.025);
}

.button-roi {
  background-color: #9d64a7;
  border-radius: 10px;
}

div.buttons-testing-1 a:hover div.button-roi {
  opacity: 0.8;
  transform: scale(1.025);
}

@media screen and (max-width: 1200px) {
  .header-img-info {
    height: 250px;
  }
  .texte-page-info {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .header-img-info {
    height: 220px;
  }
  .div-rose-titre {
    font-size: 24px;
  }
  .texte-page-info {
    width: 90%;
  }
  .flex-container-dates > div {
    width: 45%;
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .texte-page-info {
    width: 95%;
  }

  .flex-container-dates > div {
    width: 47%;
  }
  .card-info {
    height: 200px;
    width: 185px;
  }
  .page-info-img {
    width: 185px;
  }
}
@media screen and (max-width: 576px) {
  .cards-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-info {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 270px;
    width: 250px;
  }

  .page-info-img {
    width: 250px;
  }
  .texte-page-info {
    width: 95%;
    padding: 10px;
  }
  #evenements-2020 {
    width: 45%;
  }
  #dates-2020 {
    width: 55%;
  }
  .flex-container-dates > div {
    line-height: 200%;
  }
}

@media screen and (max-width: 375px) {
}

.infoTitre {
  margin-left: 4%;
  font-weight: bold;
}
