/*.contact {
  width: 100%;
  opacity: 50%;
  position: fixed;
  left: 0;
  z-index: -1;
}*/

/* -----header----- */
.header-img {
  width: 100%;
  height: 400px;
  background: url("books-crop-2.jpg");
  background-size: cover;
}

.div-rose {
  background-color: #c35884;
  padding: 10px;
}

.div-rose > a {
  color: white;
  text-decoration: none;
}

.texte-info {
  background-color: whitesmoke;
  width: 1100px;
  padding: 40px;
  margin: auto;
  /* justify-content: center; */
}

/* .info-onglet {
  display: none;
} */

.flex-container-dates {
  display: flex;
}
.flex-container-dates > div {
  justify-content: center;
  margin: auto;
  line-height: 250%;
}
.flex-container-dates > div > ul {
  list-style-type: none;
}
.evenements-2020 {
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  width: 450px;
  height: 450px;
}

.dates-2020 {
  width: 300px;
  height: 450px;
}
div.texte-info > div#calendrier-2020 > h3 {
  text-align: center;
}

/* -----buttons----- */
.cards-info {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-info {
  height: 225px;
  width: 200px;
  color: white;
  text-align: center;
}
.cards-info > .card-info > h3 > a {
  color: white;
  text-decoration: none;
}
.ephemerides {
  background-color: #c35884;
  cursor: pointer;
  border-radius: 10px;
}
div.cards-info a:hover div.ephemerides {
  opacity: 0.8;
}

.activites {
  background-color: #01969b;
  border-radius: 10px;
}
div.cards-info a:hover div.activites {
  opacity: 0.8;
}

.roi {
  background-color: #9d64a7;
  border-radius: 10px;
}

div.cards-info a:hover div.roi {
  opacity: 0.8;
}
