* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(41, 174, 155, 0.5);
  background-attachment: fixed;
}

header {
  position: relative;
  width: 100%;
  background-color: #01969b;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #01969b;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  align-items: center;
  text-decoration: none;
}

.main {
  display: flex;
}

.sidebar ul {
  text-align: center;
  font-size: 17px;
  list-style: none;
  margin: 0;
}

.sidebar {
  background-color: #01969b;
}

.menu-a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

#menuApropos {
  width: 160px;
}

.menuInfoGen {
  width: 201px;
}

.sidebar a:hover {
  background-color: #c35884;
}

.current-menu {
  background: #c35884 !important;
  text-decoration: underline !important;
}

.sidebar a:active {
  background-color: #c35884;
}

.sidebar .icone {
  display: none;
}
.sous-menu a {
  display: block;
  color: white;
  padding-right: 10px;
  margin: 0;
}

.contenu-sousMenu {
  display: none;
  position: absolute;
  z-index: 1;
}

.contenu-sousMenu a {
  display: block;
  text-decoration: none;
  text-align: left;
  background-color: #c35884;
}

.sous-menu:hover .contenu-sousMenu {
  display: block;
}

@media (max-width: 1200px) {
  header {
    margin: 0;
  }
}

@media (max-width: 992px) {
  header {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .main {
    display: none;
  }
  .sidebar button.icone {
    display: block;
  }
}

@media (max-width: 768px) {
  .responsive {
    position: relative;
    top: 0;
  }
  .responsive .icone {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive .main {
    display: block;
    text-align: left;
    margin-top: auto;
    width: 50%;
  }
  .responsive .contenu-sousMenu {
    position: relative;
  }
  .responsive .main {
    display: block;
    width: 50%;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .responsive {
    position: relative;
    top: 0;
  }
  .responsive .icone {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive .main {
    display: block;
    text-align: left;
    margin-top: auto;
    width: 50%;
  }
  .responsive .contenu-sousMenu {
    position: relative;
  }
  .responsive .main {
    display: block;
    width: 50%;
    text-align: left;
  }
}
