* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(41, 174, 155, 0.5);
  background-attachment: fixed;
}

#main {
  position: absolute;
  width: 100%;
}

.sidebar {
  z-index: 1;
  background-color: #01969b;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  align-items: center;
  text-decoration: none;
  position: fixed;
}
.logo {
  position: fixed;
  text-decoration: none;
  color: white;
  font-weight: bold;
  z-index: 2;
  top: 2%;
  left: 2%;
}

.main {
  display: flex;
  justify-content: flex-end;
}

.sidebar ul {
  font-size: 17px;
  list-style: none;
  margin: 0;
}

.sidebar {
  background-color: #01969b;
}

.menu-a {
  width: 100%;
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

.sous-menu:hover {
  display: block;
}

.sidebar a:hover {
  background-color: #c35884;
}

.current-menu {
  background: #c35884 !important;
  text-decoration: underline !important;
}

.sidebar a:active {
  background-color: #c35884;
}

.icone {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  display: none;
  z-index: 2;
}

.sous-menu li a {
  background-color: #01969b;
}
.sous-menu a {
  display: block;
  color: white;
}

.contenu-sousMenu {
  display: none;
  z-index: 1;
}

.contenu-sousMenu a:hover {
  display: block;
  text-decoration: none;
  text-align: left;
  background-color: #c35884;
}

.sous-menu:hover .contenu-sousMenu {
  display: block;
}

@media (max-width: 1200px) {
  header {
    margin: 0;
  }
  .icone {
    display: none;
  }
  .logo {
    font-size: medium;
    margin-top: 0%;
    margin-left: 0%;
  }
}

@media (max-width: 992px) {
  header {
    margin: 0;
  }
  .icone {
    display: none;
  }
}

@media (max-width: 768px) {
  .main {
    display: none;
  }
  .icone {
    display: none;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .responsive .main {
    display: block;
  }

  .responsive .main {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    display: block;
    background-color: #01969b;
  }

  .responsive .main {
    display: block;
  }

  .responsive .main {
    display: block;
    width: 100%;
    text-align: left;
  }
  .main {
    width: 100%;
    display: block;
    background-color: #01969b;
  }
  .sous-menu:hover .contenu-sousMenu {
    display: block;
  }

  .icone {
    display: block;
  }
}
