.header-img-mot {
  width: 100%;
  height: 350px;
  background: url("../images/classroom2.jpg");
  background-size: cover;
}
.div-rose {
  background-color: #c35884;
  color: white;
  padding: 10px;
}

.apropos-round-img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

.header-mot-direction {
  display: flex;
  justify-content: space-between;
}

/* -----main text----- */
.texte-info {
  background-color: whitesmoke;
  width: 80%;
  padding: 40px;
  margin: auto;
  line-height: 160%;
  /* justify-content: center; */
}
.onglet-mot > p {
  margin-bottom: 2%;
}

@media screen and (max-width: 1200px) {
  .header-img-mot {
    height: 200px;
  }
  .motDirection-titre {
    line-height: 120px;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .motDirection-titre {
    font-size: 24px;
    line-height: 75px;
  }
}
@media screen and (max-width: 576px) {
  .apropos-round-img {
    width: 75px;
    height: 75px;
    display: block;
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
}
