.header-img-mot {
  width: 100%;
  height: 350px;
  background: url("../images/classroom2.jpg");
  background-size: cover;
}

.titreMotD {
  line-height: 2;
}

.apropos-round-img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
  position: relative;
  border: 5px solid #c35884;
  margin-top: -7%;
  margin-right: 5%;
}

.header-mot-direction {
  display: flex;
  justify-content: space-between;
}

/* -----main text----- */
.texte-info {
  background-color: whitesmoke;
  width: 80%;
  padding: 40px;
  margin: auto;
  line-height: 160%;
  /* justify-content: center; */
}
.onglet-mot > p {
  margin-bottom: 2%;
}

@media screen and (max-width: 1200px) {
  .header-img-mot {
    height: 200px;
  }
  .motDirection-titre {
    line-height: 120px;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .motDirection-titre {
    font-size: 24px;
    line-height: 75px;
  }
}
@media screen and (max-width: 576px) {
  .apropos-round-img {
    display: none;
  }
}

@media screen and (max-width: 375px) {
}
