.header-img-mot {
  width: 100%;
  height: 350px;
  background: url("../images/classroom2.jpg");
  background-size: cover;
}
.div-rose {
  background-color: #c35884;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.apropos-round-img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-right: 100px;
}

/* -----main text----- */
.texte-info {
  background-color: whitesmoke;
  width: 1100px;
  padding: 40px;
  margin: auto;
  /* justify-content: center; */
}
