@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.d-flex {
  display: flex;
}

.privateContainerParents {
  background-size: cover;
  background-repeat: no-repeat;
}

.boxPrivateParents {
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 125, 0.2);
  justify-content: space-around;
  min-height: 550px;
  padding-top: 2%;
}

.boxTitle {
  width: 80%;
  height: 100px;
  margin: auto;
  padding: 20px;
}

.boxTitle > h2,
.boxTitle > p {
  margin: 10px;
  padding: 0;
  text-align: center;
}

.boxTitle > p {
  font-size: 16x;
}

.boxTitle > h2 {
  font-size: 24px;
  font-weight: bold;
}

.rightBox {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-parents {
  font-family: "quicksand";
  text-decoration: none;
  color: black;
  /* text-align: center; */
}

.Pv {
  width: 252px;
  min-height: 120px;
  border: 1px solid #01969b;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

.Pv > h2 {
  font-size: 24px;
  font-weight: bolder;
}
.Pv > p {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.gallery {
  background-color: #f96c7d;
}

.repas {
  background-color: #01969c;
}

.garderie {
  background-color: #9d64a8;
}

.img-parents {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btnPv {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

/*@media screen and (max-width: 1200px) {
}*/
@media screen and (max-width: 992px) {
  .rightBox {
    flex-direction: column;
    justify-content: space-around;
  }
  .Pv {
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }
  .img-parents {
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .page-parents {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .rightBox {
    flex-direction: column;
    justify-content: space-around;
  }
  .Pv {
    margin: auto;
    margin-top: 20px;
    width: 70%;
  }
  .img-parents {
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .page-parents {
    padding: 10px;
  }
}
@media screen and (max-width: 576px) {
  .rightBox {
    flex-direction: column;
    justify-content: space-around;
  }
  .Pv {
    margin: auto;
    margin-top: 20px;
    width: 95%;
  }
  .img-parents {
    width: 70%;
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .page-parents {
    padding: 10px;
  }
}
