/* -----pdf download roi----- */
.pdf-dl {
  background-color: rgb(221, 221, 221);
  text-align: center;
  padding: 8px;
}

.header-img-roi {
  background: url("../images/supplies.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
}
