.containerTraiteur {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "quicksand";
}

.boxTraiteur {
  width: 80%;
  min-height: 500px;
  margin: auto;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 125, 0.2);
}
.div-avec-titre {
  height: 80px;
}
.service-Traiteur-Titre {
  font-size: 24px;
  font-family: "quicksand";
  text-align: center;
  padding: 40px;
}
.traiteur-texte {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.traiteur-texte > p {
  margin: 10px;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}
