/* -----header----- */
.header-img-service-garderie {
  background: url("../images/photo-garderie-crop.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
}

/* .service-garderie-rose {
  display: flex;
} */
.fleche-retour-garderie > a {
  color: white;
}
/* -----main text----- */
.texte-info-garderie {
  background-color: whitesmoke;
  width: 80%;
  padding: 40px;
  margin: auto;
}
.para-service-garderie {
  margin: 15px;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .header-img-service-garderie {
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .garderie-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 375px) {
}
